{{ define "main" }}
<div class='mx-auto flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" false "displayPlaceholder" true "firstInList" true "isHomepage" true) }}

    <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
        <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12 home">
            <h1 class="text-center mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">{{ .Title }}</h1>
            <div class="content">
                <img class="black-header" src="/images/banner_JS_new_dark-mode_animated.gif" alt="JUMPSEC Labs" />
                <img class="white-header" src="/images/banner_JS_new_red_on_light-grey_not_animated.png" alt="JUMPSEC Labs" />
                <p style="display: none">The JUMPSEC Lab is a place where the the technical team get creative and showcase their latest security research, publications, interesting news and general thoughts!  We love what we do and are passionate about security, with some great upcoming projects planned, bookmark our site and stick around to see what we are working on.</p>
                <div class="latest-labs-post-container">
                    <h4>Latest LABS post...</h4>
                    {{ with (index (where site.RegularPages "Type" "articles") 0) }}
                    <h1>{{ .Title }}</h1>
                    {{ .Summary  }}
                    <a class="continue-reading" href="{{.RelPermalink }}" title="{{ .Title }}">
                        <strong>Continue reading</strong>
                    </a>
                    {{ end }}
                </div>
                <h4>Latest LABS posts...</h4>
                <div class="list home-list">
                    <ul class="publication-homepage-list">
                        {{ range first 6 (where .Site.RegularPages "Section" "articles" ) }}
                        {{ if .Params.parent }}
                        {{ .Content }}
                        {{ else }}
                        {{ $imageName := (urls.RelURL .Page.Params.coverimage) }}
                        {{ $image := strings.Split .Page.Path "/" }}
                        {{ $imagePath1 := index $image 1 }}
                        {{ $imagePath2 := index $image 2 }}
                        {{ $imagePath3 := index $image 3 }}
                        {{ $imagePath := (printf "%s" .Page.Params.coverimage | printf "%s/images/%s" .Page.Path | printf "%s") }}
                        <li>
                            {{ if (isset .Page.Params "coverimage") }}
                            <a style="color: red" href="{{.RelPermalink }}" title="{{ .Title }}">
                                <img class="homepage-image" src="{{$imagePath}}" title="{{ .Title }}" style="text-align: left"/>
                            </a>
                            {{ end }}
                            <a href="{{.RelPermalink }}" title="{{ .Title }}">
                                <strong>{{ .Title }}</strong>
                            </a>
                            <br/>
                            <a class="homepage-link" style="color: red" href="{{.RelPermalink }}" title="{{ .Title }}">Read more ></a>
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </div>
                <h4>Featured Tools</h4>
                <div class="list">
                    <div class="lurecrafter">
                        <h4>Lure Krafter</h4>
                        <img src="/images/lurekrafter.png" title="Lure Krafter" style="max-height: 300px"/>
                        <div class="description">A tool designed to build a standalone WASM payload smuggling lure.</div>
                        <div class="link-container">
                            <a href="https://github.com/JumpsecLabs/TokenSmith" title="Lure Krafter on GitHub" target="_blank" rel="noreferrer">Get Web Assembly Lure Krafter on Github</a>
                        </div>
                    </div>
                    <div class="tokensmith">
                        <h4>Token Smith</h4>
                        <img src="/images/tokensmith-banner.png" title="Token Smith" />
                        <div class="description">TokenSmith generates Entra ID access & refresh tokens on offensive engagements. Built with OpSec in mind it is suitable for both covert adversary simulations, penetration tests or sysadmin tasks. The tokens generated works out of the box with many popular Azure offensive tools.</div>
                        <div class="link-container">
                            <a href="https://github.com/JumpsecLabs/TokenSmith" title="Token Smith on GitHub" target="_blank" rel="noreferrer">Get TokenSmith on Github</a>
                        </div>
                    </div>
                    <div class="ahhzure">
                        <h4>Ahhzure</h4>
                        <img src="/images/ahhzure.png" title="Ahhzure" />
                        <div class="description">AHHHZURE is an automated vulnerable Azure deployment script designed for offensive security practitioners and enthusiasts to brush up their cloud sec skills.</div>
                        <div class="link-container">
                            <a href="https://github.com/gladstomych/AHHHZURE" title="Ahhhzure on GitHub" target="_blank" rel="noreferrer">Get Ahhzure on Github</a>
                        </div>
                    </div>
                </div>
                <h4>Scan our QR codes!</h4>
                <div class="list qr-list">
                    <div class="qr-code-container">
                        <div class="image-container">
                            <img class="qr-code" src="/images/gundam.png" alt="QR Code" />
                        </div>
                        <div class="image-container">
                            <img class="qr-code" src="/images/winterLabs.png" alt="QR Code" />
                        </div>
                        <div class="image-container">
                            <img class="qr-code" src="/images/tokensmith.png" alt="QR Code" />
                        </div>
                    </div>
                </div>
                {{ .Content }}
            </div>
        </main>
    </article>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" false "displayPlaceholder" true "isHomepage" true) }}
</div>
{{ end }}